# Para el front:
# Dependency directories
/frontend/node_modules/
/frontend/jspm_packages/
# Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/lerna-debug.log*
/frontend/.pnpm-debug.log*
# Coverage directory used by tools like istanbul
/frontend/coverage
/frontend/*.lcov
# Compiled binary addons (https://nodejs.org/api/addons.html)
/frontend/build/
# dotenv environment variable files
/frontend/.env
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.env.local

# Para el back:
# Dependency directories
/backend/node_modules/
/backend/jspm_packages/
# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/lerna-debug.log*
/backend/.pnpm-debug.log*
# Coverage directory used by tools like istanbul
/backend/coverage
/backend/*.lcov
# Compiled binary addons (https://nodejs.org/api/addons.html)
/backend/build/
# dotenv environment variable files
# /backend/.env
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/.env.local


