.container-footer{
   display: flex!important;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

@media (min-width: 895px) {
   .container-footer{
      flex-direction: row;
   }
   .container-contact{
      display: flex;
      flex-direction: row;
   }
}
