.containerprodint{
margin-bottom: 30px;
min-width: 169px!important;

}
.imginteres{
   padding-left: 15px!important;
   width: 169px!important;
   height: 204px;
}
.textinteres{
   padding-left: 15px;
   text-align: start;
}
.slide{
   width: 169px!important;
}
.control-arrow{
   background-color: #563300!important;
   height: 50px;
   border-radius: 60px;
   margin-top: 102px!important;
}
.slide{
   width: 100px!important;
}


@media screen and (max-width: 600px) {
   .carousel .slide {
     width: 50% !important; /* Cambia el ancho para mostrar dos imágenes */
   }
 }